/* ---------- Bradstrap v4 Global Updates --------- */
// 8pt Grid System
$grid-gutter-width:     32px !default;
$container-max-widths:  (sm: 480px, md: 736px, lg: 992px, xl: 1200px) !default;
$grid-breakpoints:      (xs: 0, sm: 512px, md: 768px, lg: 1024px, xl: 1200px ) !default;

// 8pt Spacers Extended
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
  0: 0,
  4:   ($spacer * .25),  8: ($spacer * .5),   16: ($spacer * 1),   24: ($spacer * 1.5),
  32:  ($spacer * 2),   40: ($spacer * 2.5),  48: ($spacer * 3),   56: ($spacer * 3.5),
  64:  ($spacer * 4),   72: ($spacer * 4.5),  80: ($spacer * 5),   96: ($spacer * 6),
  128: ($spacer * 8),  160: ($spacer * 10),  192: ($spacer * 12), 256: ($spacer * 16)
), $spacers);

// Updating Base Colors (I don't believe in false greys.)
$white:    #fff !default;
$gray-100: #fafafa !default; $gray-200: #eeeeee !default; $gray-300: #dddddd !default;
$gray-400: #cccccc !default; $gray-500: #777777 !default; $gray-600: #555555 !default;
$gray-700: #555555 !default; $gray-800: #333333 !default; $gray-900: #121212 !default;
$black:    #000 !default;

$blue:    #2AC9FF !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #EC4964 !default;
$orange:  #FF8C42 !default;
$yellow:  #FFCA3D !default;
$green:   #55FF7F !default;
$teal:    #20c997 !default;
$cyan:    #85BFFF !default;

$primary:       $blue !default;
$secondary:     $gray-300 !default;
$success:       $green !default;
$info:          $cyan !default;
$highlight:     $yellow !default;
$warning:       $orange !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "highlight":  $yellow,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

// Site Specific Variables Updates
$navbar-dark-color:                $white;
$navbar-dark-hover-color:          $primary;
$navbar-dark-active-color:         $white;
$navbar-dark-disabled-color:       rgba($gray-800, .3);
$navbar-dark-toggler-border-color: transparent;

/* ---------- Importin' --------- */
@import "bootstrap-4.1.3/scss/bootstrap.scss";
@import "fontfaces.scss";

/* ---------- Global --------- */
html, body {
  height: 100%;
}

body {
  background-color: $white;
  letter-spacing: -0.1px;
  display: flex;
  flex-direction: column;
  font-family: "C";
  font-size: 1rem;
  color: $gray-900;
  letter-spacing: -0.1px;
}

a:active {
  position: relative;
  top: 2px;
}

@include media-breakpoint-up(xs) {
  html {
    font-size: 1.15rem;
  }
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.1rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: $white;
    background-color: $gray-900;
  }

  .breadcrumb {
    border-top: 1px solid $gray-800 !important;
    border-bottom: 1px solid $gray-800 !important;
  }

  .box a {
    color: $white !important;
  }

  .box {
    border: 1px solid $gray-800 !important;
  }

  .form-control,
  .form-control:focus,
  .form-control::placeholder {
    color: $white;
  }

  .divider {
    border-bottom: 1px solid $gray-800 !important;
  }

  .portfolio-post img {
    border: none !important;
  }

  blockquote {
    background-color: #181818;
  }
}

/* ---------- Navbar --------- */
.navbar {
  min-height: 64px;
  padding: 1rem;
  background-image: linear-gradient(-180deg, rgba(0,0,0,0.50) 0%, rgba(0,0,0,0.00) 100%);
  background-color: #333;
  margin-bottom: 2rem;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
  letter-spacing: 0.2px;
  font-family: "SFM";
  font-weight: 500;
  font-size: .875rem;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
}

.navbar-collapse {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* ---------- Footer --------- */
main {
  flex: 1 0 auto;
  margin-bottom: 8rem;
}

footer {
  flex-shrink: 0;
}

footer {
  background-color: #02162D;
  min-height: 256px;
  padding-top: 3rem;
  padding-bottom: 4rem;
  background-image: linear-gradient(-180deg, #020202 0%, #151515 100%);
  font-family: "C";
  font-size: .875rem;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 1.4;
}

footer .list-inline-item:not(:last-child) {
  margin-right: 0.25rem;
}

/* ---------- Typography --------- */
.text-right-then-left   { text-align: right;	}
@media (max-width: 767px) { .text-right-then-left   { text-align: left;   } }
.text-right-then-center   { text-align: right;	}
@media (max-width: 767px) { .text-right-then-center   { text-align: center; } }

.about p {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.display-1 {
  font-family: "C";
  font-weight: 700;
  font-size: 3.25rem;
  color: #FFFFFF;
  letter-spacing: -0.2px;
  line-height: 4rem;
  margin-bottom: 1rem;
}

.display-2 {
  font-weight: 700;
  font-size: 3rem;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}

.display-3 {
  font-weight: 500;
  font-size: 2rem;
  color: #FFFFFF;
  margin-bottom: 1rem;
}

.display-4 {
  font-weight: 600;
  font-size: 1rem;
  color: #121212;
  letter-spacing: -0.3px;
  margin-bottom: 1rem;
}

h1, .h1 {
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0;
}

h2, .h2 {
  font-family: "C";
  font-weight: 700;
  font-size: 1.75rem;
  letter-spacing: 0;
  line-height: 2.5rem;
}

h3, .h3 {
  font-family: "C";
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0;
  line-height: 2rem;
}

h4, .h4 {
  font-size: .8125rem;
  font-weight: 600;
  color: $primary;
  letter-spacing: 1.5px;
  line-height: 1.25rem;
  text-transform: uppercase;
}

h5, .h5 {
  font-family: "SFM";
  font-weight: 600;
  color: $primary;
  font-size: .875rem;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  line-height: 1.125rem;
}

h6, .h6 {
  font-family: "C";
  font-weight: 700;
  font-size: .875rem;
  letter-spacing: -0.1px;
  line-height: 1.125rem;
  margin-bottom: .25rem;
}

small, .small {
  font-size: 87.5%;
  font-weight: normal;
}

.text-wide {
  letter-spacing: 1.5px;
}

.text-muted {
  color: transparent;
  opacity: 0.33;
}

.text-italic {
  font-family: "C";
  font-weight: 500;
  font-style: italic;
}

blockquote {
  margin: 1rem 0 1.5rem;
  background-color: #fafafa;
  padding: 1.25rem 1rem .5rem;
  font-style: italic;
}

blockquote {
  p {
    margin-bottom: 1rem !important;
  }

  p:last-of-type {
    font-style: normal;
    font-weight: 500;
    font-size: .875rem;
  }
}

/* ---------- Buttons --------- */
.btn {
  font-family: "SFM";
  font-weight: 700;
  font-size: .875rem;
  line-height: .875rem;
  letter-spacing: 0;
  text-align: center;
  padding: 12px 1.5rem;
  border-radius: 4px;
  color: $white;
}

.btn-xs {
  font-size: .6875rem;
  font-weight: 700;
  padding: 4px 1rem 3px;
}

.btn-sm {
  font-size: .8125rem;
  font-weight: 700;
  padding: 8px 1.5rem 7px;
}

.btn-lg {
  font-size: 1rem;
  padding: 16px 2rem;
}

.btn-outline,
.btn-outline:hover {
  background-color: transparent;
}

.btn-outline.btn-primary {
  color: $primary;
}

.btn-outline.btn-success {
  color: $success;
}

.btn-highlight {
  color: $gray-900;
}

.btn-secondary {
  color: $gray-800;
  background-color: $gray-200;
  border-color: $gray-200;
}

.btn-link {
  color: $link-color;
}

/* ---------- Breadcrumbs --------- */
.breadcrumb {
  background: transparent;
  text-transform: uppercase;
  font-family: "SFM";
  font-size: 12px;
  letter-spacing: 0.4px;
  border-radius: 0;
  border-top: 1px solid $gray-200;
  border-bottom: 1px solid $gray-200;
  padding: .5rem 1rem;
  margin-bottom: 2rem;
  padding-left: 0;
}

.divider {
  border-bottom: 1px solid $gray-200;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* ---------- Badges --------- */
.badge {
  font-family: "SFM";
  font-weight: 600;
  font-size: .5625rem;
  color: #333333;
  letter-spacing: 0.2px;
  text-align: center;
  text-transform: uppercase;
  padding: 4px 8px 4px;
  border-radius: .2rem;
}

/* ---------- Landing Page --------- */
.landing-hero {
  background-image: url('../images/hero-bg3.jpg');
  background-size: cover;
  background-position: center 20%;
}

.landing-hero .navbar {
  background-color: rgba(255, 255, 255, 0);
  min-height: 128px;
  margin-bottom: 0;
}

.landing-badge {
  word-break: keep-all;
  display: inline-block;
  padding-right: 96px;
  position: relative;
}

.landing-badge > .badge {
  position: absolute;
  top: 28px;
  right: 8px;
}

@media (max-width: 768px) {
  .landing-badge {
    display: block;
    padding-right: 0;
  }

  .landing-badge > .badge {
    position: relative;
    top: -5px;
    right: 0;
  }
}

.landing-hero .btn {
  min-width: 12rem;
}

.landing-hero .display-1 {
  font-size: 3.5rem;
  line-height: 1.33;
}

@media (min-width: 1200px) {
  .landing-hero .display-1 {
    max-width: 1000px;
  }
}

@media (max-width: 480px) {
  .landing-hero .display-1 {
    font-size: 2rem;
  }

  .landing-hero .btn {
    min-width: 100%;
  }

  .resume-spartz .display-2,
  .resume-earlybird .display-2 {
    font-size: 2.5rem;
  }

  .resume-spartz .display-3,
  .resume-earlybird .display-3 {
    font-size: 1.75rem;
  }
}

@media (min-width: 768px) {
  .landing-hero .btn:first-of-type {
    margin-right: .5rem;
  }
}

.resume-earlybird {
  // min-height: 40rem;
  background: #0775ED;
  padding-top: 6rem;
  padding-bottom: 8rem;
}

.resume-spartz {
  // min-height: 20rem;
  background-image: radial-gradient(circle at top center, #444 0%, #121212 100%);
  padding-top: 4rem;
  padding-bottom: 6rem;
}

/* ---------- Company Page --------- */
.hero {
  background: $primary;
  min-height: 16rem;
  display: flex;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 4rem;
}

/* ---------- Blog --------- */
.skinny-contain {
  max-width: 768px;
}

.box {
  border: 1px solid $gray-200;
  padding: 1.5rem 2.5rem 2rem;
  font-family: "SFM";
  font-size: .875rem;
  letter-spacing: 0;
  line-height: 1.5;
  margin-bottom: 2rem;
  position: relative;
}

.box h3 a {
  color: $gray-900;
}

.box h3 a:hover {
  color: $link-color;
}

.btn-box {
  position: absolute;
  bottom: 16px;
  right: 24px;
}

@media (max-width: 767px) {
  .box {
    padding: 1rem 2rem 1.5rem;
  }

  .btn-box {
    position: static;
    bottom: 0;
    right: 0;
  }

  .btn-box a {
    width: 100%;
  }
}

.blog-time {
  font-size: .75rem;
  font-family: "SFM";
}

.blog-post {
  font-size: 1.25rem;
  line-height: 1.5;
}

.blog-post p {
  margin-bottom: 1.5rem;
}

.blog-post img {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.portfolio-post img {
  margin-bottom: 1rem;
  border: 1px solid #fafafa;
}

/* ---------- Contact Page --------- */

.form-control,
.form-control:focus {
  font-family: "SFM";
  font-size: .875rem;
  height: 48px;
  background-color: transparent;
  padding: 0.5rem 1rem;
}

textarea.form-control {
  min-height: 256px;
}

.form-group label {
  font-weight: 600;
}

.wpcf7 .screen-reader-response {
  display: none;
}

.wpcf7-mail-sent-ok {
  font-size: .8125rem;
  line-height: 1.6;
  padding: 6px 16px;
  border-radius: .25rem;
  margin-bottom: 1rem;
  color: $white;
  font-family: "SFM";
  font-weight: 600;
  background-color: $primary;
  margin-bottom: 1rem;
}
